/* Panel Top 0 (#04) */
.button.actionButton{
	padding: 0px;
  background: none;
  border-radius: 0;
  box-shadow: 0 0 0 0!important;
  width: 24px;
  height: 34px;
  
}
.button.actionButton svg{
	width: 24px;
	height: 24px;
}
.button{
	background: none;
	box-shadow: none;
}
.button:hover {
    box-shadow: none;
    opacity: 1 !important;
}
.panel .sections .menu li{
	font-weight: 500;
}
/* Slide 1 (#98) */
.h4.small, h4.small{
	font-size: 38px;
}
